
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}


.modal-sm {
    width: 300px;
}

.modal-dialog {
    /*width: 600px;*/
    margin: 30px auto;
}

.modal-dialog {
    position: relative;
    /*width: auto;
    margin: 10px;*/
}

.modal-content .modal-body {
    padding: 40px;
}

.modal-content .modal-header {
    padding: 40px 20px;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    /*    padding: 15px;*/
}

.text-center {
    text-align: center;
}

.panel {
    background-color: transparent;
    /*    -webkit-box-shadow: none;*/
    -moz-box-shadow: none;
    box-shadow: none;
    color: #949ba2;
    border-radius: 3px;
}

body {
    background: #2f323b;
    font-family: 'Roboto', sans-serif;
    /*    color: #949ba2;*/
}

body {
    /*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*    background-color: #fff;*/
}


.img-circle {
    border-radius: 50%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}



.row {
    margin-left: -10px;
    margin-right: -10px;
}


.modal-content .modal-footer {
    padding: 20px;
}

.modal-footer {
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.m-t-xs {
    margin-top: 5px;
}

h3 {
    color: #ffffff !important;
}

h3, .h3 {
    font-size: 24px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h4 {
    color: #ffffff !important;
}

h4, .h4 {
    font-size: 18px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-spin {
    /*    -webkit-animation: fa-spin 2s infinite linear;*/
    animation: fa-spin 2s infinite linear;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.progress-small, .progress-small .progress-bar {
    height: 10px;
}

    .progress-small, .progress-small .progress-bar {
        height: 10px;
    }

.m-t-xs {
    margin-top: 5px;
}

.progress {
    /*    height: 20px;
    margin-bottom: 20px;*/
    overflow: hidden;
    background-color: #f5f5f5;
    /*border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);*/
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.full .progress-bar {
    color: #ffffff;
}

.full .progress-bar-success {
    background-color: #1bbf89;
    border-right: 4px solid #18a979;
}



element.style {
    width: 29%;
}

.full .progress-bar {
    color: #ffffff;
}

.full .progress-bar-success {
    background-color: #1bbf89;
    border-right: 4px solid #18a979;
}

.progress-small, .progress-small .progress-bar {
    height: 10px;
}

.progress-bar-success {
    border-right: 4px solid #18a979;
}

.progress-bar {
    background-color: #2f323b;
    text-align: right;
    padding-right: 10px;
    color: #949ba2;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar {
    float: left;
    font-size: 12px;
    line-height: 20px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -o-transition: width .6s ease;
    transition: width .6s ease;
}



label {
    /*    color: #ffffff;*/
    font-weight: 500;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /*    font-weight: bold;*/
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
}



button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input, textarea, select, button {
    text-rendering: auto;
    /*    color: initial;*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /*    display: inline-block;*/
    text-align: start;
    margin: 0em;
    /*    font: 400 11px system-ui;*/
}


.btn-primary {
    color: #0c0c0c;
    border-color: #0c0c0c !important;
}

.btn-primary {
    /*    color: #949ba2;*/
    background-color: transparent;
    /*    border-color: #0F83C9;*/
}

.btn {
    /*    color: inherit;
    background-color: transparent;*/
}

.btn-block {
    display: block;
    /*    width: 100%;*/
}

.btn {
    /*    display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*    -ms-touch-action: manipulation;*/
    touch-action: manipulation;
    /*    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.m-b {
    margin-bottom: 15px;
}


.form-control {
    color: #0c0c0c !important;
    background-color: #f5f5f5 !important;
}

.form-control {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    -o-transition: none;
    transition: none;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
}

input, button, select, textarea {
    font-family: inherit;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
}
