body, html{ background-color:#1a1a1a; padding:0; margin:0; font-family:Arial, Helvetica, sans-serif;}
a, img{ border:none; outline:none;}
.container{ width:100%; background-color:#fff; padding:60px 0;}
.login_txt{width:95%; margin-top:8px; background:none; outline:none; border:none; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.step_holder{text-align:center; margin-bottom:40px;}
.tag_txt{padding:0; margin:0; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:8px 10px; width:120px;}
.footer{font-size:14px; color:#6a6a6a;}
